.Header {
  display: flex;
  justify-content: space-between;
}
.Header-title {
  font-size: 44px;
  font-weight: 600;
}
.Header a {
  text-decoration: none;
  color: rgb(77, 77, 77);
}
.Header-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 30px;
  margin: 0 0 0 0.5em;
}
.Header-checkout a i {
  font-size: 25px;
}

.Header-alert {
  font-size: 20px;
  margin-left: 5px;
  color: rgb(77, 77, 77);
}